
.
..
.CFUserTextEncoding
.DS_Store
.Genymobile
.NERDTreeBookmarks
.Trash
.android
.babel.json
.bash_history
.bash_profile
.bash_sessions
.bashrc
.httpie/
.config/configstore/*
.config/devcert/*
.config/gcloud/*
.config/yarn/*
.config/nvim/plugged/*

.cups
.docker
.emulator_console_auth_token
.expo
.fzf
.fzf.bash
.fzf.zsh
.gem
.gitbook
.gitconfig
.gradle
.hyper.js
.hyper_plugins
.jspm
.lesshst
.local
.netrc
.ngrok
.ngrok2
.node-gyp
.node_repl_history
.npm
.npmrc
.nvm
.oh-my-zsh
.oracle_jre_usage
.pm2
.python_history
.rest-client
.ringcentralopener
.rncache
.ssh
.tern-config
.v8flags.6.6.346.27-node.6.92657ee3e40b1b83b4372197f866a7de.json
.v8flags.7.0.276.38-node.18.92657ee3e40b1b83b4372197f866a7de.json
.vagrant.d
.vim
.viminfo
.viminfo.tmp
.viminfz.tmp
.vscode
.vscode-react-native
.xo-cache
.yarnrc
.zcompdump-EN911162-5.3
.zoomus
.zprofile
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
go
help
node_modules
package-lock.json
